.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, #root, html {
  background-color: #222831 !important;
}

.header {
  margin-top: 30px;
  text-align: center;
  font-size: 5rem;
}

.ui.center.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui.big.form {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.form-input {
  margin: 100px 0;
}

.form-segment {
  width: 60%;
}

.ui.button {
  width: 400px;
  max-width: 100% !important;
}
